*.js
!jest.config.js
*.d.ts
node_modules

# Build artifacts
dist/
terraform/lambda-packages/*.zip

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# my bs
PLAN.md
AGENTS.md
notas.txt
.env
.env.example
